@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --text-color-title: #212121;
  --text-color-body: #757575;
  --color-active: #2196f3;
  --font-family: "Roboto", sans-serif;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --letter-spacing: 0.03em;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color-title);
  font-family: var(--font-family);
  position: relative;
}

section {
  padding: 94px 0;
}

h1 {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

h2,
h3,
p {
  letter-spacing: var(--letter-spacing);
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

section ul {
  display: flex;
  flex: 1 0 auto;
  justify-content: space-between;
  column-gap: 30px;
}

a {
  transition: color var(--transition), background-color var(--transition);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* SVG icons */

svg {
  display: inline-block;
}

.header-logo .icon,
.footer-logo .icon {
  width: 145px;
  height: 31px;
}

.header-right-container svg {
  margin-right: 10px;
}

.header-right-container li:first-of-type svg {
  width: 16px;
  height: 12px;
}

.header-right-container li:last-of-type svg {
  width: 10px;
  height: 16px;
}

.work-section .icon {
  height: 70px;
}

.work-section ul:first-of-type div,
.customer-section .icon,
.team-section .icon,
.footer-media .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.customer-section .icon {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
}

.customer-section .icon,
.customer-section .icon:visited {
  color: #afb1b8;
}

.customer-section .icon:hover,
.customer-section .icon:focus {
  color: var(--color-active);
  border-color: var(--color-active);
}

.customer-section .icon svg {
  width: 106px;
  height: 60px;
}

.team-section .icons-list,
.footer-media .icons-list {
  display: flex;
  gap: 10px;
}

.team-section .icons-list {
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.footer-media .icons-list {
  margin-top: 20px;
}

.team-section .icon,
.footer-media .icon {
  border-radius: 50%;
  height: 44px;
  width: 44px;
}

.team-section .icon,
.team-section .icon:visited {
  background-color: #ffffff;
  color: #afb1b8;
}

.team-section .icon:hover,
.team-section .icon:focus {
  background-color: var(--color-active);
  color: #ffffff;
}

.footer-media .icon,
.footer-media .icon:visited {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.footer-media .icon:hover,
.footer-media .icon:focus {
  background-color: var(--color-active);
}

.team-section .icon svg,
.footer-media .icon svg {
  height: 20px;
  width: 20px;
}

/* Modal window */

.modal {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform var(--transition);
}

.is-hidden {
  transform: scale(1.1);
  visibility: hidden;
}

.modal-content {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 581px; */
  width: 528px;
  position: absolute;
  padding: 40px;
}

.label {
  width: 100%;
}

.modal-close {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 8px;
  top: 8px;
  height: 30px;
  width: 30px;
  cursor: pointer;
  transition: background-color var(--transition), color var(--transition);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--color-active);
  color: #ffffff;
}

.modal-content h2 {
  color: var(--text-color-title);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: var(--letter-spacing);
  line-height: 1.15;
  text-align: center;
}

.modal-content p {
  color: var(--text-color-body);
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.17;
}

/* Form */

.form-row:first-of-type {
  margin-top: 12px;
}

.form-row {
  margin-top: 10px;
}

.input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  width: 448px;
  margin-top: 4px;
  height: 40px;
  transition: border-color var(--transition);
}

/* .form svg {
  height: 18px;
  width: 18px;
  color: #212121;
  margin-top: 11px;
  margin-left: 12px;
  transition: 
} */

.input:hover {
  border-color: var(--color-active);
  cursor: pointer;
}

/* .input:hover .form svg {
  fill: var(--color-active);
} */

.input-comments {
  height: 120px;
  padding: 12px 16px;
}

.input-comments::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
}

.form-terms {
  margin-top: 20px;
  text-align: center;
}

.form-terms span {
  margin-left: 8px;
  color: var(--text-color-body);
  font-size: var(--font-size-sm);
  line-height: 1.7;
}

.form-send-btn {
  background-color: var(--color-active);
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  font-size: var(--font-size-md);
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.875;
  text-align: center;
  height: 50px;
  width: 200px;
  margin-top: 30px;
  transition: background-color var(--transition);
  cursor: pointer;
}

.form-send-btn:hover,
.form-send-btn:focus {
  background-color: #188ce8;
}

/* Global Header */

.global-header .container {
  background: #ffffff;
  font-size: var(--font-size-sm);
  display: flex;
  justify-content: space-between;
}

.header-left-container {
  display: flex;
  justify-content: space-between;
}

.global-header ul {
  display: flex;
}

.global-header a {
  font-weight: 500;
}

.header-navigation,
.header-right-container {
  padding: 32px 0;
}

.header-logo {
  padding: 24px 0 25px;
}

.header-navigation li:first-of-type {
  margin-left: 93px;
}

.header-navigation ul li + li {
  margin-left: 50px;
}

.header-right-container li:last-of-type {
  margin-left: 40px;
}

/* Global Header - Links */

.header-navigation a,
.header-navigation a:visited {
  color: var(--text-color-title);
  text-decoration: none;
  position: relative;
}

.header-navigation a::after,
.header-navigation a::after {
  position: absolute;
  bottom: -36px;
  left: 0;
  content: "";
  background-color: var(--color-active);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  opacity: 0;
  transition: opacity var(--transition);
}

.header-navigation a:hover::after,
.header-navigation a:focus::after {
  opacity: 1;
}

.header-right-container a,
.header-right-container a:visited {
  color: var(--text-color-body);
  text-decoration: none;
}

.global-header a:hover,
.global-header a:focus,
.global-header a.active {
  color: var(--color-active);
}

/* Sections */

.title-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px 0;
  display: flex;
  text-align: center;
}

.title-section h1 {
  margin: auto;
  width: 60%;
}

.request-service-btn {
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  font-size: var(--font-size-md);
  line-height: 1.875;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  transition: background-color var(--transition);
}

.request-service-btn:hover,
.request-service-btn:focus {
  background-color: #62b8ff;
}

.work-section ul:first-of-type div {
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
}

.work-section ul:first-of-type h3 {
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
}

.work-section ul:first-of-type p {
  font-size: var(--font-size-sm);
  color: var(--text-color-body);
  line-height: 1.7;
  margin-top: 10px;
}

.work-section ul:last-of-type li {
  position: relative;
}

.work-img-overlay {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
}

.work-img-overlay p {
  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: var(--font-size-sm);
  font-weight: 500;
  line-height: 5;
  text-align: center;
  text-transform: capitalize;
  height: 70px;
  width: 100%;
}

.section ul:last-of-type {
  margin-top: 50px;
}

.work-section,
.customer-section {
  background-color: #ffffff;
}

.work-section h2 {
  margin-top: 94px;
}

.team-section {
  background-color: #f5f4fa;
  font-size: var(--font-size-md);
  text-align: center;
}

.team-section li {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section h3 {
  font-weight: 500;
  line-height: 1.2;
  margin-top: 30px;
}

.team-section p {
  color: var(--text-color-body);
  line-height: 1.2;
  margin-top: 10px;
}

/* Global footer */

.global-footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.global-footer .container {
  display: flex;
  gap: 94px;
}

.footer-address address {
  font-size: var(--font-size-sm);
  font-style: normal;
  letter-spacing: var(--letter-spacing);
  line-height: 1.14;
  margin-top: 28px;
}

.global-footer p {
  color: #ffffff;
}

.footer-address li {
  margin-top: 12px;
}

.footer-address a,
.footer-address a:visited {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-address a:hover {
  color: var(--color-active);
}

.footer-media h3 {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 15px;
}
