// @import'util/utils';
@import "base/bases";
@import "component/components";
@import "section/sections";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --color-active: #2196f3;
  --font-family: "Roboto", sans-serif;
  --font-size-md: 16px;
  --font-size-sm: 14px;
  --letter-spacing: 0.03em;
  --text-color-body: #757575;
  --text-color-title: #212121;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
