.section {
  padding: 94px 0;
}

.section__heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}

.section__heading + .list {
  margin-top: 50px;
}

.section__heading--work-section {
  margin-top: 94px;
}
