.global-footer {
  background-color: #2f303a;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0;
}

.global-footer__subheading {
  font-size: var(--font-size-sm);
  font-weight: 700;
  line-height: 1.14;
  margin-top: 15px;
  text-transform: uppercase;
}

.global-footer__contacts {
  font-size: var(--font-size-sm);
  line-height: 1.14;
  margin-top: 16px;
  &-item {
    margin-top: 12px;
  }
  &-link {
    color: #ffffff;
    opacity: 0.6;
    text-decoration: none;
  }
}

.global-footer__input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  height: 50px;
  margin-top: 20px;
  padding: 15px 16px;
  width: 358px;
}

.icon--subscribe {
  color: #ffffff;
  height: 24px;
  line-height: 50px;
  margin-left: 25px;
  vertical-align: middle;
  width: 24px;
}
