.toggle-menu {
  background-color: #ffffff;
  font-weight: 500;
  padding: 48px 40px;
  position: relative;
  width: 480px;
}

.toggle-menu__navigation-list,
.toggle-menu__contact-list {
  display: flex;
  flex-direction: column;
}

.toggle-menu__navigation-list {
  font-size: 40px;
  line-height: 1.172;
}

.toggle-menu__navigation-item + .toggle-menu__navigation-item {
  margin-top: 32px;
}

.toggle-menu__contacts {
  line-height: 1.17;
  margin-top: 306px;
}
.toggle-menu__contacts-phone {
  color: var(--color-active);
  font-size: 34px;
}

.toggle-menu__contacts-email {
  color: var(--text-color-body);
  font-size: 24px;
  margin-top: 32px;
}

.toggle-menu__social-list {
  color: var(--color-active);
  font-size: 18px;
  line-height: 1.22;
  margin-top: 64px;
}

.toggle-menu__social-item + .toggle-menu__social-item {
  margin-left: 10px;
}

.toggle-menu__vertical-line {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}
