.hero-section {
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/background-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  padding: 200px 0;
  text-align: center;
}

.hero-section__heading {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  line-height: 1.36;
  margin: auto;
  text-transform: uppercase;
  width: 60%;
}
